* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/2.jpg");
  background-size: cover;
  height: 400vh;
  backdrop-filter: blur(2rem);
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
button:focus {
  outline: none;
}

.button {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
}

.button-active {
  transition: all 0.3s;
}
.button-active:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
}
.button-active:active {
  transform: translateY(0);
  box-shadow: none;
}

.food-icons {
  width: 3rem;
}

.menu-items-column {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.menu-item-card {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.menu-item-card-1 {
  padding: 4rem 3rem;
  margin: 0 2rem;
  border-radius: 4rem;
}
.menu-item-card-2 {
  margin-top: 5rem;
  padding: 1.4rem 1rem;
  width: 12rem;
  border-radius: 1.6rem;
}
.menu-item-card-horizontal {
  margin-top: 1.5rem;
  border-radius: 1.6rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  line-height: 0;
  transition: all 0.2s;
}
.like-button:hover {
  background-color: #000000;
}
.like-button:hover > img {
  filter: invert(1);
}
.like-button-1 {
  padding: 1rem;
}
.like-button-1 img {
  width: 2rem;
}
.like-button-2 {
  padding: 0.6rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.like-button-2 img {
  width: 1.5rem;
}

.favourite {
  background-color: #000000;
}
.favourite > img {
  filter: invert(1);
}

.cart-button {
  position: absolute;
  right: 2rem;
  bottom: -3rem;
  background-color: #000000;
  padding: 1rem 1.5rem 2rem 1rem;
  border-radius: 0.5rem 0.5rem 4rem 1.5rem;
  line-height: 0;
}
.cart-button img {
  width: 3rem;
  filter: invert(1);
}

.brand h4 {
  font-size: 2rem;
  font-weight: 900;
}
.brand p {
  font-size: 0.9rem;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 900;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 900;
}

.description {
  width: 60%;
}
.description p {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 1.6;
}

.menu-item-details h3 {
  font-weight: 900;
}
.menu-item-details h4 {
  font-weight: 900;
  margin-top: 5px;
}
.menu-item-details p {
  font-weight: 300;
  margin-top: 5px;
}
.menu-item-details-1 h3 {
  font-size: 2rem;
}
.menu-item-details-1 h4 {
  font-size: 1.5rem;
}
.menu-item-details-1 p {
  font-size: 1.4rem;
}
.menu-item-details-2 h3, .menu-item-details-horizontal h3 {
  font-size: 1.3rem;
}
.menu-item-details-2 h4, .menu-item-details-horizontal h4 {
  font-size: 1.2rem;
}
.menu-item-details-2 p, .menu-item-details-horizontal p {
  font-size: 1rem;
}
.menu-item-details-vertical h3 {
  font-size: 2rem;
}
.menu-item-details-vertical h4 {
  font-size: 1.6rem;
}
.menu-item-details-vertical p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
}

header {
  padding: 5rem;
}

.header-section {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: stretch;
  align-items: center;
  padding: 0 5rem;
}

.view-menu {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  border-bottom-right-radius: 0;
  margin-top: 4rem;
}
.view-menu span {
  line-height: 0;
  font-size: 3rem;
}

.food-categories {
  margin-top: 5rem;
}
.food-categories button {
  padding: 1rem 1.2rem;
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.8rem;
}
.food-categories button:focus {
  background-color: #000000;
}
.food-categories button:focus > img {
  filter: invert(1);
}

.header-image {
  justify-self: end;
}
.header-image img {
  width: 55rem;
  justify-self: end;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 10rem;
}

.menu-item-type-1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 2rem;
}

.menu-item-image-1 {
  width: 20rem;
  margin-top: -50%;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.pasta-image {
  position: relative;
}
.pasta-image img {
  width: 40rem;
}

.discount-tag {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.discount-tag h3 {
  margin: auto;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
}

.section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-items: end;
}

.app-download-links {
  margin-top: 2rem;
}

.download-button {
  width: 16rem;
  margin-right: 2rem;
}

.app-screenshots {
  display: flex;
}

.app-screen {
  height: 58rem;
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3rem;
  margin: 0 3rem;
  padding: 2rem;
  position: relative;
}
.app-screen > h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1.5rem;
}

.food-categories-2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.food-categories-2 button {
  padding: 0.5rem 0.7rem;
  margin: 0;
}
.food-categories-2 .food-icons {
  width: 2.5rem;
}

.menu-button {
  display: inline-block;
  width: 2rem;
  height: 2px;
  background-color: #000;
  margin-top: 1.5rem;
}
.menu-button::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: inherit;
}

.menu-button-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.menu-button-2 img {
  height: 1.5rem;
}

.menu-item-type-2 {
  margin-top: 1rem;
}

.menu-item-type-vertical {
  margin-top: 4rem;
  position: relative;
}

.menu-item-image-2 {
  width: 10rem;
  margin-top: -50%;
}

.menu-item-image-horizontal {
  width: 10rem;
}

.menu-item-image-vertical {
  margin-top: 1rem;
  width: 25rem;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
}
.navigation-buttons button {
  padding: 1rem;
  line-height: 0;
  border-radius: 100%;
}
.navigation-buttons button:first-of-type {
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-buttons img {
  width: 1.6rem;
  filter: invert(1);
}

.clock {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 0;
}
.clock img {
  width: 1.2rem;
}
.clock h5 {
  font-size: 1.2rem;
  font-weight: 900;
  margin-left: 5px;
}

.price {
  margin-top: 4rem;
}

.add-to-cart {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.add-to-cart span {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-cart span::after, .add-to-cart span::before {
  content: "";
  height: 1rem;
  width: 2px;
  background-color: #000;
  position: absolute;
}
.add-to-cart span::after {
  transform: rotate(90deg);
}

/*# sourceMappingURL=styles.css.map */
