@media(max-width: 1200px){
    html{
        font-size: 55%;
    }

    .description p,
    .menu-item-details-vertical p{
        line-height: 1.8;
    }
}

@media(max-width: 1100px){
    .description{
        width: 80%;
    }

    .section-3{
        column-gap: 5rem;
    }
}

@media(max-width: 1050px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 950px){
    .section-3{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 5rem;
    }

    .app-screenshots{
        grid-row-start: 2;
    }
}

@media(max-width: 1200px){
    
}