.section-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 10rem;
}

.app-download{

}

.app-download-links{
    margin-top: 2rem;
}

.download-button{
    width: 16rem;
    margin-right: 2rem;
}

.app-screenshots{
    display: flex;
}

.app-screen{
    height: 56rem;
    width: 30rem;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 3rem;
    margin: 0 3rem;
    padding: 2rem;
    position: relative;

    & > h4{
        font-size: 2rem;
        font-weight: 900;
        margin-top: 3rem;
    }
}

.food-categories-2{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    button{
        padding: 0.5rem 0.7rem;
        margin: 0;
    }
    
    .food-icons{
        width: 2.5rem;
    }
}

.menu-button{
    display: inline-block;
    width: 2rem;
    height: 2px;
    background-color: #000000;

    &::after{
        content: "";
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: inherit;
    }
}

.menu-item-image-2{
    width: 10rem;
    margin-top: -50%;
}