*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right, 
                    rgba(255,255,255, .6), 
                    rgba(255,255,255, .6)), 
                      url("../images/3.jpg");
    background-size: cover;
    backdrop-filter: blur(2rem);
    -webkit-text-size-adjust: 100%;
}

button{
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:focus{
        outline: none;
    }
}

a:link, a:visited{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: black;
}