.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 10rem;
}

.menu-item-type-1{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 2rem;
}

.menu-item-image-1{
    width: 20rem;
    margin-top: -50%;
}