.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 10rem;
    margin: 10rem 0;
}

.menu-item-type-1{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 2rem;
}

.menu-item-image-1{
    width: 20rem;
    margin-top: -50%;
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.4);
    border-radius: 100%;
}